extends layout

block content
	h1 Rap Now!

	div(ng-view)

	script.
		
		//- will apply to everything after the #
		//- var uniqueID = '#{uniqueID}'
		window.hash='#{uniqueID}'

	div(ng-init="init()")