extends layout

block content
	.img-container
				
		.row.padding
			.header
			.col-sm-offset-4.col-sm-8
				.col-sm-4
					.rap Rap
				.col-sm-4
					.now Now!
		.row
			.headText.col-sm-offset-4.col-sm-6
				p Challenge your friends to a written rap battle.
				p The catch? You only have 30 seconds!
		.row
			.spacer.col-sm-12

		.row
			.col-sm-12.login-but
				.fb-login-button(data-max-rows='2', data-size='xlarge', data-show-faces='false', data-auto-logout-link='true')

				#fb-root 	
		
		.row
			.spacer.col-sm-12
	
	.main-content
		.row
			.col-sm-12.how-title
				h2 How does it work?
		.row
			.text-height.col-sm-12.how-text-2
				P Ever wanted to unleash the wrath of your  wordage to the world, but no one is  
				p vibing for verbiage? We know your pain. That's why we created Rap Now. 
				P Here we execute expressions emphatically. Login to challenge your 
				p friends to a rap battle. Word? Word.
		.row
			.spacer-2.col-sm-12
		.row
			.col-sm-offset-3.col-sm-9
				.col-sm-offset-1.col-sm-1.write
					img.img-circle(src='writing.jpg', alt='Kanye West Writing', width='154', height='136')
				.col-sm-offset-1.col-sm-4.text-height.p-text
					h3 Write!
					p The more natural the better - let it flow!
					p Pasting isn't allowed - no cheating!
		.row
			.spacer-2.col-sm-12
		.row
			.col-sm-offset-3.col-sm-9
				.col-sm-offset-1.col-sm-4.text-height.p-text
					h3 Time!
					p The best think on their feet. You
					p have 30 seconds - give it your all!
				.col-sm-2.write
					img.img-circle(src='clock.jpg', alt='Flava Flav', width='154', height='136')
		.row
			.spacer-2.col-sm-12
		.row.battle
			.col-sm-offset-3.col-sm-9
				.col-sm-offset-1.col-sm-1.write
					img.img-circle(src='battle.jpg', alt='Flava Flav', width='154', height='136')
				.col-sm-offset-1.col-sm-4.text-height.p-text
					h3 Battle!
					p Invite your friend to respond.
					p See what they are made of!
	.login
		.row
			.col-sm-12
				.border
		.row
			.col-sm-12.how-title
				h2 Login to Start Rapping!
		.row
			.col-sm-12.login-but
				.fb-login-button(data-max-rows='2', data-size='xlarge', data-show-faces='false', data-auto-logout-link='true')
				#fb-root
	.footer
		.row
			.col-sm-12.spacer-3
		.row
			.col-sm-offset-3.col-sm-8
				.col-sm-offset-1.col-sm-4
					p Made by Ronan Mc Guire 
				.col-sm-2
					a(href="https://github.com/mcronan") GitHub