doctype html
html(lang='en', ng-app="rapApp")
	head
		meta(charset="utf-8")
		title Rap Now
		link(rel="stylesheet" type="text/css" href="main.css")

	body
		script.
			window.fbAsyncInit = function() {
			FB.init({
			appId      : '473646152796474',
			xfbml      : true,
			version    : 'v2.4',
			status	   : true,
			});
			};
			(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		block content
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="main.js")