h2 Time to Rhyme!



//- .timer(data-ng-init='mSeconds=SecondsToMillisecond(seconds)')
//- 	timer(start-time='mSeconds', max-time-unit="'minute'")
//- 		{{mminutes}}:{{sseconds}}

//- div{{timeInS}}
.row
	.col-sm-2
		section(ng-app='rapApp', ng-controller='rapController')
			addbuttonsbutton
			#space-for-buttons
			{{rap.raps}}
#theID

.row
	.p1Text.col-sm-offset-1.col-sm-3
		//- .rap(ng-repeat="rap in newArray track by $index")
		p You have one minute! Lay down your rap in the box to the right!
	.col-sm-offset-1.col-sm-3
		#time 01:00
	.col-sm-offset-6
		.fb-share-button(data-layout='button' ng-show="showButton")
		#fb-root
.row
	.p1Rap.col-sm-offset-1.col-sm-3
			//- .rap(ng-repeat="rap in newArray track by $index")
			div{{newArray[0]}}
	.input-rap.col-sm-offset-3.col-sm-3
		form(ng-submit="addRap()" ng-show="showinput")
																	//- pasting has been disabled, no cheaters!
			input(placeholder="Enter your rap!" id="rapBox" ng-model="newRap.rap" ng-paste="$event.preventDefault()" ng-show="showinput")
		input(type="submit" value="Lay it down!" id="submitter" ng-show="showinput") 
	.output-rap.col-sm-offset-3.col-sm-3
		#finishedRap(ng-show="showoutput")
		//- div(ng-repeat="rap in raps" ng-show="showoutput")
		//- 	div(id="finishedRap") {{rap.raps}}
	//- regular share button
	



//- share popup
//- form(ng-submit="popup()" ng-show="showButton")
//- 	input(type="submit" value="share") 

//- PM popup
//- form(ng-submit="PmPopup()" ng-show="showButton")
//- 	input(type="submit" value="SendPM")

//- adds rap to db

