
h2 Ready to start?
div{{timeInS}}

form(ng-submit="addRap()" ng-show="showinput")
	input(placeholder="Enter your rap!" id="rapBox" ng-model="newRap.rap")
	input(type="submit" value="submit" ) 

div(ng-repeat="rap in raps")
	div(id="finishedRap") {{rap.rap}}

