/*****************************
			Nav
*****************************/
.nav {
	height: 30px;
	margin-bottom: 20px;
}

.logo {
	font-size: 30px;
}




#rapBox {
	width: 300px;
	height: 300px;
	font-size: 20px;
}

#finishedRap {
	width: 300px;
	height: 300px;
	font-size: 20px;
	background-color: grey;
}

::-webkit-input-placeholder {
   font-size: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

.fb-share-button {
    opacity: 1;
    transform: scale(.5);
    transform-origin: top left;
}