/*****************************
			Nav
*****************************/
.nav {
	height: 46px;
/*	margin-bottom: 10px;
*/	border-bottom: 2px solid black;
}

.logo {
	font-size: 30px;
}

/*****************************
			Timer
*****************************/
#time {
	font-size: 30px;
	font: courier;
}

/*****************************
			Input Rap
*****************************/

#rapBox {
	width: 300px;
	height: 300px;
	font-size: 20px;
}

/*******  Placeholder test ******/
::-webkit-input-placeholder {
   font-size: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}


/*****************************
			Submit button
*****************************/

#submitter {
	width: 300px;
}

/*****************************
			Output Rap
*****************************/
#finishedRap {
	width: 300px;
	height: 300px;
	font-size: 20px;
	background-color: grey;
}
/*****************************
	Share Button 
*****************************/

.fb-share-button {
    opacity: 1;
    transform: scale(2.5);
    transform-origin: top left;
}